@model Ammo.Domain.Entities.JournalIndex

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoggedInJournalLayout.cshtml";
}

<!-- =========================
     JOURNAL PAGE NAVIGATION
    ============================== -->
<a href="javascript:void(0)" class="next-page-a">
    <img class="next-page" src="~/Assets/icons/add.png" alt="Add New Page" />
</a>
<!-- =========================
     SECTION: MAIN JOURNAL PAGE
    ============================== -->
<section id="journal-page">
    <div class="container">
        <div class="row">
            <div id="journal-page-canvas" class="col-lg-12 col-md-12 col-sm-12 journal-page-canvas">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 heading-block">
                        <h3>
                            Journal Key
                            <small class="whats-this" id="whats-this-3">What's this?</small>
                        </h3>
                    </div> <!-- /.heading-block -->
                </div>
                @if (Model.Bullets != null)
                {
                    <!-- Show contents of current bullet collection -->
                }
                else
                {
                    <!-- No Bullet Collection! -->
                    <a href="javascript:void(0)">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <img class="index-no-data-img" src="~/Assets/icons/add-list.png" />
                            <h2 class="index-no-data-h2">A key is essential to your Journal.. Click to add one now!</h2>
                        </div>
                    </a>
                }
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 heading-block">
                        <h3>
                            Tags
                            <small class="whats-this" id="whats-this-3">What's this?</small>
                        </h3>
                    </div> <!-- /.heading-block -->                    
                </div>
                @if (Model.Tags != null && Model.Tags.Count() > 0)
                {
                    <!-- Show all tagged pages -->
                }
                else
                {
                    <!-- No Tags Exist! -->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <img class="index-no-data-img" src="~/Assets/icons/no-tags.png" />
                        <h2 class="index-no-data-h2">No Tags exist for this journal yet!</h2>
                    </div>
                }
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12  heading-block">
                        <h3>
                            Bookmarks
                            <small class="whats-this" id="whats-this-3">What's this?</small>
                        </h3>
                    </div> <!-- /.heading-block -->
                </div>
                @if (Model.Bookmarks != null && Model.Bookmarks.Count() > 0)
                {
                    <!-- Show current bookmarks -->
                }
                else
                {
                    <!-- No Bookmarks exist!-->
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <img class="index-no-data-img index-no-data-bookmark" src="~/Assets/icons/no-bookmark.png" />
                        <h2 class="index-no-data-h2">No bookmarks exist for this journal yet!</h2>
                    </div>
                }
            </div>
        </div>
    </div>
</section>