@model IEnumerable<Ammo.Domain.Entities.Bullet>
@{
    Layout = null;
}
<div class="row">
    @if (Model != null && Model.Count() > 0)
    {
        foreach (Ammo.Domain.Entities.Bullet bullet in Model)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 bullet-list-div">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <img class="bullet-list-bullet-img" src="@Url.Action("BulletGet", "Image", new { @BulletUri = bullet.ImageUri })" />
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <p class="bullet-list-bullet-meaning ">@Html.Raw(bullet.Name)</p>
                </div>
            </div>
        }
    }
</div>
