<?xml version="1.0"?>
<environment>
  <application 
    defaultCoverUrl="~/Assets/images/backgrounds/"
    />
  
  <!-- AWS Settings -->
  <aws 
  
  />
  
  <!--- FACEBOOK API / SDK Settings -->
  <facebook
    appId="1759617267622891"
    appSecret="9611ea03aa8470eb3b75b521cda20410"
    apiVersion="2.7"
  />

  <!-- EMAILS FOR CONTACT -->
  <email 
    generalAddress="ammo.journal@gmail.com"
    debugAddress="john-nolan@live.com"
    supportAddress="john-nolan@live.com"
    contactAddress="john-nolan@live.com"
  />

  <!-- NEWSLETTER AND MARKETING -->
  <mailchimp 
    
  />

  <!-- GOOGLE+ & ANALYTICS -->
  <google 
    
  />

  <!-- STRIPE PAYMENT API -->
  <stripe 
 
  />

  <twilio 
  
   />
  
  <!-- TWITTER -->
  <twitter 
     consumerKey="vuXxgkaTyyUb23xXVupY67H8K"
     consumerSecret="sLi7xj3HtEo4Pq4SUcqJBd0ik1kcSGGn0ZbdSbgwVH21jOaOEd"
  />
</environment>