.bullet-collection-div {
    padding:1em;
}
.bullet-collection-div-h3 {
    padding: 10px;
}
.bullet-collection {
  /* Prevent vertical gaps */
  line-height: 0;
  max-height:400px;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

.bullet-collection img {
  /* Just in case there are in-line attributes */
  width: 100% !important;
  height: auto !important;
  padding:5px;
}

.bullet-list-div {
    padding:5px;
    padding-right: 15px;
    padding-left: 15px;
}
.bullet-list-bullet-img {
    position: relative;
    height: 35px;
    width: 35px;
    padding: 0;
    left: 1px;
    top: 0;
}
.bullet-list-bullet-meaning {
    text-align: left;
    line-height: 2;
}

@media (max-width: 1200px) {
  .bullet-collection {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .bullet-collection {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .bullet-collection {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .bullet-collection {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}