@{
    ViewBag.Title = "Activity Log";
    Layout = "~/Views/Shared/_LoggedInJournalLayout.cshtml";
}
<section id="journal-page">
    <div class="container" ng-controller="ActivityLogController">
        <div class="row">
            <div id="journal-page-canvas" class="col-lg-12 col-md-12 col-sm-12 journal-page-canvas">
                <!-- Which Months?-->
                <h1>{{getDate(model.ActivityLog.LogMonth, 'MMMM YYYY')}}</h1>
                <!-- Activity Log -->
                <div id="activity-log-table">
                    <table class="col-md-12 table-bordered table-striped table-condensed cf activity-log-margin-25">
                        <thead class="cf">
                            <tr>
                                <th class="activity-log-table-thead-th"><a href="javascript:void(0)"><img class="activity-log-table-thead-th-img" src="~/Assets/icons/add.png" /></a></th>
                                <th ng-repeat="day in model.ActivityLog.LogDays" class="activity-log-table-thead-tr-th-day">
                                    {{getDate(day, 'dd')}}
                                    {{getDate(day, 'D')}}
                                </th>
                            </tr>
                        </thead>
                        <tbody class="activity-log-table-tbody">
                            <tr ng-repeat="activity in model.ActivityLog.Activities">
                                <td class="activity-log-table-tbody-td-description">{{activity.Description}}</td>
                                <td ng-repeat="day in model.EntryViewModel" class="activity-log-table-tbody-tr-td-mark" style="background-color:{{day.Entry.Mark.Color}}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 heading-block activity-log-margin-25">
                    <h3>
                        Activity Key
                        <small class="whats-this" id="whats-this-3">What's this?</small>
                        <!--TODO Customize -->
                        <a href="javascript:void(0)" class="journal-index-customize-a "><img class="journal-index-customize-a-img" src="~/Assets/icons/settings.png" /></a>
                    </h3>
                </div> <!-- /.heading-block -->
                <!-- Mark Picker -->
                <div class="col-lg-12 col-md-12 col-sm-12 activity-log-legend">
                    <ul class="legend">
                        <li ng-repeat="mark in model.Marks">
                            <span class="activity-log-marks-div-mark-color" style="background-color:{{mark.Color}}"></span> {{mark.Description}}
                        </li>
                        <li><span class="activity-log-marks-div-mark-color activity-log-marks-div-add"></span> Add New</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>