@model Ammo.Domain.ViewModels.ActivityLogViewModel

@{
    ViewBag.Title = "Activity Log";
    Layout = "~/Views/Shared/_LoggedInJournalLayout.cshtml";
}

<section id="journal-page">
    <div class="container">
        <div class="row">
            <div id="journal-page-canvas" class="col-lg-12 col-md-12 col-sm-12 journal-page-canvas">
                <!-- TODO NEXT UP See card https://trello.com/b/iOP6N0dl/ammo-bullet-journal-app Activity Log -->
            </div>
        </div>
    </div>
</section>